<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ayuda</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity=
    "sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- As a link -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <a class="navbar-brand mx-left" href="{{ url_for('index') }}"><h1 class="px-3">OVEX</h1></a>
        <div class="">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link px-3 active" href="{{ url_for('catalogo') }}">Catalogo de aves</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3 active" href="{{ url_for('ayuda') }}">Ayuda</a>
                </li>
            </ul>
        </div>
    </nav>
</head>
<body>
    <h3 class="text-center py-3">Como funciona la herramienta</h3>
    <div class="text-center py-3 col-10 mx-auto font-monospace border-top">
        <span class="py-2">
            1. Se Graba el canto del ave.
            - La grabacion dura 10 segundos en finalizar.
        </span>
        <ol></ol>
        <span class="py-2">
            2. Posterior a la grabacion se activa el boton de identificacion ademas
            de mostrar de mostrar el audio que se ha grabado
        </span>
        <ol></ol>
        <span class="py-2">
            3. Al hacer click en el boton de identificar el programa crea el canto del ave
        </span>
        <ol></ol>
        <span class="py-2">
            4. Y finalmente muestra la imagen con el nombre cientifica y el nombre comun del ave identificada
        </span>
        <span class="py-2"></span>
    </div>
</body>
</html>